#########################################################################################################################
on init
#########################################################################################################################

# Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell

# MDM requirement
    mkdir /data/cp_log
    chmod 0775 /data/cp_log
    chown system radio /data/cp_log

    mkdir /dev/block/modem
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs1 /dev/block/modem/m9kefs1
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs2 /dev/block/modem/m9kefs2
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs3 /dev/block/modem/m9kefs3
    symlink /dev/block/platform/dw_mmc/by-name/ /dev/block/modem/dump_path
    chown system radio /dev/block/modem/m9kefs1
    chmod 0775 /dev/block/modem/m9kefs1
    chown system radio /dev/block/modem/m9kefs2
    chmod 0775 /dev/block/modem/m9kefs2
    chown system radio /dev/block/modem/m9kefs3
    chmod 0775 /dev/block/modem/m9kefs3
    chown system radio /dev/block/modem/dump_path
    chmod 0775 /dev/block/modem/dump_path

    mkdir /firmware 0771 system system
    chown system system /tombstones
    chmod 0775 /tombstones
    mkdir /tombstones/modem 0775 system system
    mkdir /tombstones/lpass 0775 system system
    mkdir /tombstones/wcnss 0775 system system
    mkdir /tombstones/dsps 0775 system system
    rmdir /tombstones/qcks
    mkdir /tombstones/qcks 771 system system
    rmdir /tombstones/efs
    mkdir /tombstones/efs 771 system system

#########################################################################################################################
on post-fs-data
#########################################################################################################################

# Telephony
    chmod 0666 /proc/cmdline
    symlink /data/user_de/0/com.android.providers.telephony/databases /data/data/com.android.providers.telephony/databases
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs /data/data/com.android.providers.telephony/shared_prefs

# wifi
    write /data/.cid.info 0
    restorecon /data/.cid.info

    chown system radio /dev/block/platform/dw_mmc/by-name
    chmod 0775 /dev/block/platform/dw_mmc/by-name

# qmuxd
    mkdir /dev/socket/qmux_radio 2777 radio radio
    mkdir /dev/socket/qmux_audio 2777 media audio
    mkdir /dev/socket/qmux_gps 2777 gps gps
    mkdir /dev/socket/qmux_bluetooth 2777 media bluetooth

    chmod 0666 /dev/socket/qmux_bluetooth/qmux_connect_socket
    chown media bluetooth /dev/socket/qmux_bluetooth/qmux_connect_socket

    chmod 0666 /dev/socket/qmux_gps/qmux_connect_socket
    chown gps gps /dev/socket/qmux_gps/qmux_connect_socket

    chmod 0666 /dev/socket/qmux_audio/qmux_connect_socket
    chown media audio /dev/socket/qmux_audio/qmux_connect_socket

    chmod 0666 /dev/socket/qmux_radio/qmux_connect_socket
    chown radio radio /dev/socket/qmux_radio/qmux_connect_socket

    chmod 0666 /dev/socket/qmux_radio/proxy_qmux_connect_socket
    chown radio radio /dev/socket/qmux_radio/proxy_qmux_connect_socket

    chmod 0666 /dev/socket/qmux_radio/proxy_tether_connect_socket
    chown radio radio /dev/socket/qmux_radio/proxy_tether_connect_socket

# Allow qmuxd to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait
    chmod 666 /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

# To prevent out of order acknowledgements from making
# connection tracking to treat them as not belonging to
# the connection they belong to.
# Otherwise, a weird issue happens in which some long
# connections on high-throughput links get dropped when
# an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

# Restorecon
    restorecon_recursive /efs
    restorecon_recursive /tombstones
    restorecon /tombstones/qcks/temp.dump
    restorecon /data/.cid.info
    restorecon /data/ISP_CV
    restorecon_recursive /efs/wifi

# Waketime fot fast dormancy
    chown system radio /sys/devices/platform/mdm_hsic_pm0/waketime
    chmod 0660 /sys/devices/platform/mdm_hsic_pm0/waketime

    chown radio system /sys/devices/platform/samsung-pd.5/s3c-fimc.2/range_mode
    chmod 0660 /sys/devices/platform/samsung-pd.5/s3c-fimc.2/range_mode

# make param block device link for SysScope
    symlink /dev/block/mmcblk0p7 /dev/block/param

# Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system gps

# Create directories for QuIPS
    mkdir /data/misc/quipc 0770 system gps

# Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

# SISO-ANDR_PERF :: START Changing scheduler to cfq and reseting cpu min freq to -1 after boot complete
on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor pegasusq
    write /sys/power/cpufreq_min_limit -1
    write /proc/sys/net/ipv6/conf/rmnet_usb0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb3/accept_ra 2
# SISO-ANDR_PERF :: END

on property:init.svc.macloader=stopped
    chown system root /data/.cid.info
    chmod 0666 /data/.cid.info
    chown system root /data/.rev
    chmod 0666 /data/.rev

#########################################################################################################################
on boot
#########################################################################################################################

service qc_kickstart /system/bin/qcks s
    class core
    user root
    group radio cache inet misc audio sdcard_rw log

service qmuxd /system/bin/qmuxd
    class main
    user root
    group radio log audio bluetooth gps log